@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.sidebar-enter {
    animation: slideIn 0.8s forwards;
}

.sidebar-exit {
    animation: slideOut 0.8s forwards;
}