.button {
    position: relative;
    border-radius: 5px;
    padding: 15px;
    background: linear-gradient(145deg, #cacaca, #ffffff);
    box-shadow: 3px 3px 10px #cacaca,
        -3px -3px 10px #ffffff;
    overflow: hidden;
}

.button:hover {
    /* translate: scale(1.1);
    transition: transform 0.5s ease-in-out; */
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    transform: translateY(0.2em);
    transition: transform 0.5s;
}

/* .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E80B31;
    transform: scale(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-in-out;
    z-index: 0;
} */

.button:hover::after {
    transform: scale(1.1);
    transform-origin: bottom left;
}

.button span {
    position: relative;
    z-index: 1;
    color: #E80B31;
    transition: color 0.4s;
}

.button:hover span {
    color: #4d4d4d;
}