.card {
    place-items: start;
    background: linear-gradient(145deg, #d9dcdf, #ffffff);
    padding: 10px 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 50px #cacaca,
        -10px -10px 50px #ffffff;
    cursor: pointer;
    transition: transform 0.5s;
}

.card:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    transform: translateY(0.5em);
}

.card img {
    width: 30px;
    height: 30px;
    transition: transform 0.5s;
}

.card:hover img {
    transform: scale(0.9);
    fill: #333333;
}